h1{
    color: white;
}
body{
    background-image: url('wp2043130.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }